body {
    font-family: Helvetica, sans-serif
}
#map {
    border: 1px solid black;
    float: left;
}

#legend {
    border: 1px solid black;
    float: left;
    margin: 30px;
}

#legend td {
    font-size: 30px;
}

svg { border: solid black 1px; }

.caption {
  font-weight: bold;
}

.key path {
  display: none;
}

.key line {
  stroke: #000;
  shape-rendering: crispEdges;
}