@font-face
{
font-family: Open Sans;
src: url(OpenSans-Light.ttf);
}

/** {border: solid black 1px;}*/

body {
    font-family: Open Sans, Helvetica, sans-serif;
    margin: 0;
}
#map {
    float: left;
    margin-left: 50px;
}

#legend {
    float: left;
    position: absolute;
    left: 350px;
    top: 25px;*/
    font-size: 20px;
}

#legend td {
    font-size: 20px;
}

.key path {
    display: none;
}

.key line {
    stroke: #000;
    shape-rendering: crispEdges;
}

.tick {
    font-size: 13px
}

#description {
    width: 600px;
    height: 500px;
    float: right;
    overflow: auto;
    margin-right: 50px;
}