@font-face
{
font-family: Open Sans;
src: url(OpenSans-Light.ttf);
}

* {
    border: solid black 1px;
}
body {
    font-family: Open Sans, Helvetica, sans-serif;
}
#map {
    float: left;
}

#legend {
    float: left;
}

#legend td {
    font-size: 30px;
}

.caption {
  font-weight: bold;
}

.key path {
  display: none;
}

.key line {
  stroke: #000;
  shape-rendering: crispEdges;
}

.tick {
    font-size: 13px
}